<h1>Ask Questions</h1>
<form class="form-inline" action="/answer" method="get">
  <input class="form-control mb-2 mr-sm-2" type="text" name="question" placeholder="Ask something">
  <input type="submit" class="btn btn-primary mb-2">
</form>
